@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

body, ul, li {
padding: 0px;
margin: 0px;
}
body {
background-color: #2ba8d9;
background-color: #ff675a;
font-family: 'Montserrat', sans-serif;
}
.ulHeader {
display: flex;
flex-wrap: nowrap;
}
